.posts {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.message {
    border-bottom: 1px solid red;
    width: 50vw;
}

.notes {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    margin-bottom: -10px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
  }

  .card-text {
      padding: 0px 10px 10px 10px;
  }

.card-group {
    width: 65vw;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.modal {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.icon:hover {
    cursor: pointer;
}

